<!DOCTYPE html>
<html>
<head>
    <title> Sorting Hat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
</head>


<body class="container">


    <div id="main">  
        <div 
            v-bind:doubtcounter="doubtcounter"
            v-bind:doubtshow="doubtshow"
            v-bind:change-house="changeHouse"
            v-bind:why="why"
            v-bind:startbutton="startbutton"
            v-bind:welcome="welcome"
            v-bind:startsort="startsort"
            v-bind:is-house-showing="isHouseShowing"
            v-bind:showhouse="showhouse"    
            is="temphouse"
            v-bind:crest="currenthouse.crest"
            v-bind:showstuff="showstuff"
            v-bind:showing="currenthouse.showing"
            v-bind:name="houses[0].name"
            v-bind:currenthouse="currenthouse"
            v-bind:description="currenthouse.description"
            v-bind:currenthouse.name="currenthouse.name"
            v-bind:id="currenthouse.id">
        </div>
    </div>



    <template id="temphouse">
    <div>
        <div class="begin">
            <button class="btn btn-secondary btn-lg" v-if="startbutton" v-on:click="startsort">Let's begin..</button>
            <div class="welcome" v-if="welcome">
                <span class="hmm">hmmm  <br><br><br></span>
                <span class="odd">can this be?. . .<br><br><br></span>
                <span class="yes">Yes! THIS IS IT!. . . . .<br><br><br></span>
                <span class="welcometo"> WELCOME TO. . . . . . . .</span>
            </div>
        </div>
        
        <div v-if="isHouseShowing"> 
            <div> 
                <p class="houseTitle">you are.... <span v-bind:class="id" style="font-size:100px; font-family: 'Rye', cursive;">{{ currenthouse }}!!</span></p>
                
                <h5> Why {{ currenthouse }} you might ask?? <br>
                    <button class="btn btn-secondary btn-sm findout" v-on:click="showstuff">Find Out</button>
                </h5>

                <p v-if="showing" > You value <span v-bind:class="id"> {{ description }}  </span> above all.</p>   
                <div align="center"><img v-bind:src="crest"></div>


            </div>
            <button class="doubt btn btn-sm" v-on:click="changeHouse" v-if="doubtshow"> Having doubts? </button>
        </div>
        <img class="sortinghat" src="./images/sortinghat.png"><br> 
    </div>


    </template>










  <script src="https://unpkg.com/vue"></script>
  <script src="main.js"></script>

</body>
</html>