


body {
	color:white;
	background-color: #383A3F;
}

* {
	margin-top: 30px;
}

p {
	text-align: center;
	font-size: 20px
}

h5 {
	text-align: center;
}


.showing {
	display: none;
}

.houseName {
	text-align: center;
}

.s {
	color:green;

}

.g {
	color: #ff2400;

}

.r {
	color:#4F86C6;
}

.h {
	color: yellow;
}

.hogwarts {
	text-align: left;
}


.btn {
	margin: 30px;
}









