* {
	margin: 0px;
	border: 0px;
}


body {
	color:white;
	background-color: #383A3F;
}



p {
	text-align: center;
	font-size: 18px;
	font-family: 'Cinzel', serif;
}

h5 {
	text-align: center;
	font-family: 'Cinzel', serif;
}


.showing {
	display: none;
}

.houseName {
	text-align: center;
}

.s {
	color:green;

}

.g {
	color: #ff2400;

}

.r {
	color:#4F86C6;
}

.h {
	color: yellow;
}

.hogwarts {
	text-align: left;
}


.btn {
	margin: 30px;
	border: solid white 3px;
}


.welcome {
	margin-top: 30px;
	font-size: 20px;
}

.sortinghat {
	float: right;

}





