* {
	margin: 0px;
	border: 0px;
}


body {
	color:white;
	background-color: #383A3F;
}



p {
	text-align: center;
	font-size: 18px;
	font-family: 'Cinzel', serif;
}

h5 {
	text-align: center;
	font-family: 'Cinzel', serif;
}

.begin {
    margin-left:15%;
    margin-top: 5%;
}

.houseName {
	text-align: center;
}
.houseTitle {

}

.s {
	color:green;

}

.g {
	color: #ff2400;

}

.r {
	color:#4F86C6;
}

.h {
	color: yellow;
}

.hogwarts {
	text-align: left;
}


.why {
	border: solid white 1px;
}

.findout {
    margin:5%;
}


.welcome {
	margin-top: 30px;
	font-size: 20px; 

}

.sortinghat {
	float: right;

}

.doubt{
	float:right;
}



.hmm {
    animation-name: hmm;
    animation-duration: 17s;
}
@keyframes hmm {
   	0% {color: #383A3F;}
    10% {color: white;}
    25% {color: #383A3F;}
    100% {color: #383A3F;}
}

.odd {
    animation-name: odd;
    animation-duration: 17s;
}
@keyframes odd {
    0% {color: #383A3F;}
    10% {color: #383A3F;}
    20% {color: white;}
    50% {color: #383A3F;}
    100% {color: #383A3F;}
}

.yes {
    animation-name: yes;
    animation-duration: 17s;
}
@keyframes yes {
	0% {color: #383A3F;}
	20% {color: #383A3F;}
    40% {color: white;}
    75% {color: #383A3F;}
    100% {color: #383A3F;}

}

.welcometo {
    animation-name: welcome;
    animation-duration: 17s;	
}
@keyframes welcome {
  	0% {color: #383A3F;}
  	50% {color: #383A3F;}
    70% {color: white;}
    100% {color: #383A3F;}

}






